<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>sysweb</title>
</head>

<body>
    
    <div class="header">
        <div class="conteiner">
            <div class="row">
                <div class="col">
                    <a href="#">
                        <img src="/imagenes/logosysweb.png" alt="#">
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="col-2">
                    <a href="#">
                        <img src="/imagenes/UNACHpng.png" alt="#">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="form">
        <!-- <div class="form-header">
            <div class="icon">
                <span>
                    <button class="btnface">
                    <img src="/imagenes/facebook.png" alt="#">
                    </button>
                    <button class="btnphone">
                        <img src="/imagenes/telefono.png" alt="#">
                    </button>
                </span>
            </div>
        </div> -->
                <form action="index.html" class="form-box">
                    <h1 class="form-title">Iniciar sesión</h1>
                    <input type="text" placeholder="Usuario">
                    <input type="password" placeholder="Contraseña">
                    <button type="submit">
                        Iniciar Sesion
                    </button>
                </form>
    </div>

    <div class="footer">
        <footer class="page-footer">
            <div class="roww">
                <p>
                        <i class="fas1"></i>2da. Poniente Sur No. 108, Edificio Maciel, 3er. Piso Tuxtla Gutiérrez, Chiapas.
                        </p>
                        <p><i class="fas2"></i>depfin@unach.mx, sysweb@unach.mx</p>
                        <p><i class="fas3"></i>(961) 61 7 80 00, extensiones: 5108 Y 5501</p>
            </div>
        </footer>
    </div>

   <!-- <div class="piePagina">
        <footer class="page-footer font-small pt-4" style="background-color: #585858; color: #fff">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-6 mb-md-0 mb-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                        <p>
                            <i class="fas fa-home mr-3"></i>2da. Poniente Sur No. 108, Edificio Maciel, 3er. Piso Tuxtla Gutiérrez, Chiapas.
                        </p>
                        <p><i class="fas fa-envelope mr-3"></i>depfin@unach.mx, sysweb@unach.mx</p>
                        <p><i class="fas fa-phone mr-3"></i>(961) 61 7 80 00, extensiones: 5108 Y 5501</p>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-3">
                        <div class="text-xl-center">
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">Universidad Autónoma de Chiapas</div>
        </footer>
    </div>-->
</body>
</html>